# Don't ignore these
!.gitattributes
!.gitignore

# Outputs 
/bin
*.o
*.d
*.a
*.exe
*.EFI
*.bin
*.bin.gz
*.tar*
*.elf
*.hdd
*.iso
*.img
*.sys
*.dtb
*~

# Local
DS_Store
/.vscode
*.swp
*.swo
/.clangd
/.cache

