# Kern Config
# Uncomment a line to enable it
# You may also change values

#ASFLAGS := $(ASFLAGS) -D DEF_RES 		# Use default resolution variables
ASFLAGS := $(ASFLAGS) -D DEF_W=1920		# Default width
ASFLAGS := $(ASFLAGS) -D DEF_H=1080		# Default height
ASFLAGS := $(ASFLAGS) -D DEF_BPP=32		# Default bpp

